<h1 style="color: aqua; padding: 20; background: #000; align-items: center;">{{title }}</h1>
<button (click)="getName('Abrar')"> Click ME</button>
<app-login></app-login>
<br>
<br><br>
<button (click)="getData()">Hy Abrar</button>
<br>
<br>
<br>
<input type="text" placeholder="Event ">
<h1 *ngIf="show else elseBlock">
    This is If Condition  
</h1>

<ng-template #elseBlock>
    <h1>This is Else Block </h1>
</ng-template>


<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;"> Red Color </h1>
</ng-template>

<div  [ngSwitch]="color">
    <h1 style="color: red;" *ngSwitchCase="'red'">output</h1>
    
</div>